<footer class = 'footer'>
  <div class = 'footer_inner wrap pale'>
    <p>&copy;&nbsp;<span class = 'year'></span>&nbsp;{{ .Site.Title }}.
    Esta obra está bajo una Licencia Creative Commons Atribución 4.0 Internacional.
  </div>
</footer>
{{- $mainScriptPath := "js/index.js" }}
{{- $scripts := resources.Get $mainScriptPath | resources.ExecuteAsTemplate $mainScriptPath . | resources.Minify | resources.Fingerprint "sha512" }}
{{ template "_internal/google_analytics.html" . }}
<script src = '{{ $scripts.Permalink }}'></script>
