<footer class = 'footer'>
  
  <div class = 'footer_inner wrap pale'>
    {{- range .Site.Data.menu }}
    <a href="{{ absURL .url }}" class="nav_item">{{ .item }}</a>
    {{- end }}
  </div>

  <div class = 'footer_inner wrap pale'>
    <p>&copy;&nbsp;<span class = 'year'></span>&nbsp;{{ .Site.Title }}.
    Esta obra está bajo una Licencia Creative Commons Atribución 4.0 Internacional.
  </div>
</footer>
{{- $mainScriptPath := "js/index.js" }}
{{- $scripts := resources.Get $mainScriptPath | resources.ExecuteAsTemplate $mainScriptPath . | resources.Minify | resources.Fingerprint "sha512" }}
{{ template "_internal/google_analytics.html" . }}
<script async defer data-website-id="e5274002-513b-4233-a15c-659961587aef" src="https://juanvega-umami.herokuapp.com/umami.js"></script>
<script src = '{{ $scripts.Permalink }}'></script>
